

{% load widget_tweaks %}

<form class="pure-form pure-form-aligned" method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Inserir Aparelho</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        {{ form.non_field_errors }}
        <fieldset>
        {% for field in form %}
        <div class="pure-control-group">
            <div class="{% if field.errors %} invalid {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                <p class="help-block"> {{ error }} </p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        </fieldset>
    </div>

    <div class="modal-footer">
        <button type="button" class="submit-btn btn btn-primary">Salvar</button>
    </div>
    
</form> 

  
